{% extends "base.html" %}
{% block  content %}
{% load static %}
<!-- End Header -->
<!-- main -->
<div class="page-container scene-main scene-main--fade_In">
    <!-- Page Title -->
    <div class="bg-img-15 py-200px mb-0 text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-white h1-large py-md-20px">About us</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Award Winning  -->
    <div class="container my-75px">
        <div class="row mb-20px text-center">
            <div class="col-lg-8 offset-lg-2">
                <h3 class="mb-20px">Award Winning Agency</h3>
                <p>Praesent auctor erat in magna vestibulum pharetra. Sed tempor sed ante convallis feugiat. Sed accumsan dolor
                    eu nisl pellentesque, at lobortis nibh venenatis. Proin placerat augue sit amet ante egestas, id hendrerit
                    magna vehicula. Maecenas eget vehicula diam. Sed semper pretium risus ac consectetur. Ut convallis est
                    nisl, eu consequat sapien dictum vel. </p>
            </div>
        </div>
    </div>
    <!-- Blockqoute  -->
    <div class="fluid-container mt-30px">
        <div class="row no-gutters">
            <div class="col-lg-6 bg-img-16 py-200px">
            </div>
            <div class="col-lg-6 bg-color-creamy text-center py-120px">
                <div class="px-60px">
                    <blockquote>
                        <p class="mb-2">"A designer knows when he has reached perfection not when there is nothing left to add but when there
                            is nothing left to take away." </p>
                        <footer class="blockquote-footer">Antione de Sainte-Exupery
                            <cite title="Source Title"></cite>
                        </footer>
                    </blockquote>
                    <p>Aenean lacinia bibendum sed consectetur. Etiam porta sem magna mollis euismod. Fusce dapibus, tellus
                        ac cursus commodo, tortor mauris condimentum nibh, Cras purus sit amet fermentum. euismod. Fusce
                        dapibus, tellus ac cursus commodo.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Team  -->
    <div class="bg-img-2 pt-85px pb-55px">
        <div class="container text-center">
            <div class="row mb-20px ">
                <div class="col-lg-6 offset-lg-3">
                    <h2 class="mb-10px">Meet The Team</h2>
                    <p>Oratio pertinax cu vix, id his aliquam habemus tractatos. Eu vis modo officiis liberavisse, persequeris
                        complectitur mei et. Id invidunt adipiscing tractatos has. Eius lorem tincidunt vix at pertinax sensibus.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 pb-20px">
                    <div class="simple-team-person">
                        <div class="team-image mb-20px">
                            <img src="{% static 'images/team/3.jpg' %}" alt="team" width="370" height="444">
                        </div>
                        <div class="team-info-holder">
                            <div class="team-info">
                                <h5 class="team-name mb-10px">John Blesa</h5>
                                <div class="team-role mb-10px">CEO - Designer</div>
                                <ul class="list-inline">

                                    <li class="list-inline-item">
                                        <a href="page-about-us-2.html#">
                                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="page-about-us-2.html#">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="page-about-us-2.html#">
                                            <i class="fab fa-behance" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="page-about-us-2.html#">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pb-20px">
                    <div class="simple-team-person">
                        <div class="team-image mb-20px">
                            <img src="{% static 'images/team/2.jpg' %}" alt="team" width="370" height="444">
                        </div>
                        <div class="team-info-holder">
                            <div class="team-info">
                                <h5 class="team-name mb-10px">John Blesa</h5>
                                <div class="team-role mb-10px">CEO - Designer</div>
                                <ul class="list-inline">

                                    <li class="list-inline-item">
                                        <a href="page-about-us-2.html#">
                                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="page-about-us-2.html#">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="page-about-us-2.html#">
                                            <i class="fab fa-behance" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="page-about-us-2.html#">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pb-20px">
                    <div class="simple-team-person">
                        <div class="team-image mb-20px">
                            <img src="{% static 'images/team/1.jpg' %}" alt="team" width="370" height="444">
                        </div>
                        <div class="team-info-holder">
                            <div class="team-info">
                                <h5 class="team-name mb-10px">John Blesa</h5>
                                <div class="team-role mb-10px">CEO - Designer</div>
                                <ul class="list-inline">

                                    <li class="list-inline-item">
                                        <a href="page-about-us-2.html#">
                                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="page-about-us-2.html#">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="page-about-us-2.html#">
                                            <i class="fab fa-behance" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="page-about-us-2.html#">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer  -->
{% endblock %}