{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- End Header -->
    <!-- main -->
    <div class="page-container scene-main scene-main--fade_In">
        <!-- Page Title -->
        <div class="bg-img-9 py-200px text-center mb-80px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-white h1-large py-md-20px">Contact us</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact us  -->
        <div class="pb-55px">
            <div class="container">
                <div class="row mb-20px">
                    <div class="col-lg-5 mb-40px">
                        <h4 class="mb-15px">Say Hello</h4>
                        <p>Lorem ipsum quis bibendum auct or de suis erestopius proin qual de suis erestopius liqueenean sollicituin.
                            Oratio pertinax, id his aliquam habemus tractatos. </p>
                        <p class="lead">place to find me 
                            <br> KG 169 St, Remera (Sonatubes),</p>
                        <p class="lead">akanakintamaange@gmail.com
                            <br> +250 788 511 024</p>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <form method="post" action="./">
                            {% csrf_token %}
                        
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group enter-email">
                                        {{ form.Email }}
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group subject">
                                        {{ form.subject }}
                                    </div>
                                </div>
                        
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                                    <div class="form-group message">
                                        {{ form.message }}
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group send-btn">
                                        <button type="submit">Send</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}