{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- main -->
<!-- 

<akafld -->
<div class="page-container scene-main scene-main--fade_In">
    <!-- Blog post -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post_img">
                    <img src="{{ post.image.url }}" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-65px">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 mt-10px">
                <div class="blog_posts stander_blog_single_post">
                    <article>
                        <h3 class="post_title">
                            <a href="blog-single-post.html">{{ post.title }}</a>
                        </h3>
                        <div class="post_meta_top">
                        
                        <div class="post_content">
                            <p>
                                {{ post.text }}
                            </p>                
                        </div>
                        </div>
                        </article>
                        </div>


                        <div class="col-md-12">
                            <div class="post_img">
                                <img src="{{ post.image1.url }}" alt="Card image cap">
                            </div>
                        </div>



                        <div class="col-md-12">
                            <div class="post_img">
                                <img src="{{ post.image2.url }}" alt="Card image cap">
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="post_img">
                                <img src="{{ post.image3.url }}" alt="Card image cap">
                            </div>
                        </div>





                        <div class="post_meta_bottom my-30px">
                            <div class="row align-items-center">
                                <div class="col-lg-6 text-center text-lg-left mb-10px mb-lg-0">
                                
                                </div>
                                <div class="col-lg-6 text-center text-lg-right">
  
                            </div>
                        </div>
                        <div class="separator-line"></div>
                    </article>
                    



                    <div class="col-md-12">
                        <h3>All Coment </h3>
                        <hr>

                        {% for comment in post.comment_set.all %}
                        <div>
                            <p>
                                 {{ comment.text | linebreaks }}
                            </p>

                            <div style="flex-direction:row; justify-content:space-between; margin-top:50px">
                                <p>
                                   {{ commet.name }}
                                </p>

                         {{ comment.name }}
                                
                            </div>
                        </div>

                    </div>

                    <hr />
                   {% endfor %}


                        <h5 class="comment-reply-title mb-4">Leave a comment</h5>

                        <form class="form-fields-bg-transparent" method="post" action="./">
                             {% csrf_token %}

                             {{ form.as_p }}

                             <input type="submit" value="send">


<!-- 


                            <div class="form-row  mb-15px">
                                <div class="form-group col-md-12">
                                   {{ form.text }}
                                </div>
                            </div>
                            <div class="row mb-15px">
                                <div class="form-group col-md-4">
                                    {{ form.name }}
                                </div>
                                <div class="form-group col-md-4">
                                    {{ form.email }}
                                </div>
                                
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 col-xs-12">
                                    <input type="submit" value="send" />
                                </div>
                            </div> -->
                        </form>

                </div>
            </div>
        </div>
    </div>

    {% endblock %}